In [54]:
%load_ext autoreload
%autoreload 2
from sklearn.pipeline import Pipeline
from trainer_lib.transformers import (
    CategoricalLimitTransformer, 
    CallDurationTransformer, 
    TimeOfDayTransformer, 
    MonthNameTransformer)

from trainer_lib import DataManager
# The instantiation will fetch the data and documentation
mngr = DataManager(save_path="../data/raw/", report_path="../reports/")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
X,y = mngr.train

In [56]:
feature_engineering = Pipeline([
    ("category_trimmer", CategoricalLimitTransformer(3, columns=['Job'])),
    ("add_time_duration", CallDurationTransformer()),
    ("add_time_of_day", TimeOfDayTransformer()),
    ("convert_month", MonthNameTransformer()),
    ("column_selection", SelectColumnsTransfomer(columns=[
       "Age", "Job", "Marital"
    ]))
])

In [57]:
train_t = feature_engineering.fit_transform(X)

In [58]:
train_t.head()

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CallDurationMins,CallTimeOfDay
0,1,32,management,single,tertiary,0,1218,1,0,telephone,28,1,2,-1,0,NaN,13:45:20,13:46:30,1.166667,afternoon
1,2,32,blue-collar,married,primary,0,1156,1,0,NaN,26,5,5,-1,0,NaN,14:49:03,14:52:08,3.083333,afternoon
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,6,1,119,1,failure,16:30:24,16:36:04,5.666667,afternoon
3,4,25,other,single,primary,0,373,1,0,cellular,11,5,2,-1,0,NaN,12:06:43,12:20:22,13.650000,afternoon
4,5,30,management,married,tertiary,0,2694,0,0,cellular,3,6,1,-1,0,NaN,14:35:44,14:38:56,3.200000,afternoon

In [ ]:
from collections import defaultdict

In [17]:
mapper = defaultdict(lambda: 'other')

In [18]:
mapper['hello'] = 'hello'

In [19]:
mapper

defaultdict(<function __main__.<lambda>()>, {'hello': 'hello'})

In [21]:
mapper['hello']

'hello'